@import "tailwindcss";

@theme {
  --color-customdark: #454545;
  --color-customlight: #ffe6c7;
  --color-primary: #ff6000;
  --color-sec: #6000ff;
  --color-sec-li: #8033ff;
  --color-sec-dk: #5000ff;
  --color-tertiary: #00ff60;
}
